.promotion
    display: flex
    flex-direction: column
    gap: 2rem
    margin: 10rem 0
    // background-color: red
    // display: grid
    // grid-template-columns: repeat(auto-fit,minmax(300px,1fr))
    // gap: 2rem
    // overflow: hidden
    // padding: 1rem

    &__image
        max-width: 55rem
        height: 300px
        min-width: 200px
    // width: 350px
        object-fit: cover
        object-position: auto

    &__section
        text-align: center

    &__title
        font-size: 1.8rem
        font-weight: bold

    &__description
        margin: 2rem 0
        font-size: 1.3rem
    // min-width: 300px
    // padding: 1rem

strong
    color: #fc682e

@media screen and (min-width:768px)
    .promotion
        flex-direction: row-reverse
        justify-content: space-between
        align-items: center

    .promotion__image
        width: 45%
        height: 500px

    .promotion__section
        width: 45%
        text-align: left
        padding: 1rem

    .promotion__title
        font-size: 2.3rem

    .promotion__description
        font-size: 1.8rem
