* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	/* overflow: hidden; */
	/* background-color: #000; */
	/* background: #bbb */
}

.body {
	height:100%;
	width:100%;
	background-color: #eee;
	/* overflow-x: hidden; */
}
